<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Skeleton UI</title>
  <meta name="description" content="Skeleton project for Typescript React projects" />
  <meta name="author" content="Ben Knear">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- Local CSS sheets are being imported in Main.tsx, but public ones may be imported here. For example...-->
  <!-- <link rel="stylesheet" href="/css/global.css" type="text/css"> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="img/favicon.ico" />

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root" class="container"></div>
</body>

</html>